* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 4em;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;

  position: relative;
}

.item {
  background: lightblue;
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.item1 {
  background: lightblue;
  padding: 20px;
  text-align: center;

  position: absolute;
  left: 49vw;
  top: 10vw;
}
